$sc-main-nav-height: 55px;
$sc-main-nav-width: 130px;
$sc-main-nav-link-height: 44px;
$sc-secondary-menu-height: 55px;
$sc-sidebar-size: 246px;

.header-message {
	padding: 0;
	background-color: $sc-color-theme-background;
	text-align:center;

	.global-views-message {
		@extend .container;
		margin-bottom:0;
		@media (min-width: $screen-md-min) {
			padding:$sc-padding-lv3;
			margin-left:-$sc-margin-lv6;
			margin-right:-$sc-margin-lv6;
		}
	}
}

.header-main-wrapper {
	position: relative;
	background-color: $sc-header-background-color;
	box-shadow: none;

	@media (min-width: $screen-md-min) {
		border-bottom: $sc-header-border-width solid $sc-header-border-color;
	}
}


.header-content {
	@extend .clearfix;
}
///////////////////////////////////////////////////////////////
//header logo

.header-logo-wrapper {
	float: left;
}

///////////////////////////////////////////////////////////////
//header sidebar toggle
.header-sidebar-toggle-wrapper {
	margin-top: (($sc-main-nav-height) - ($sc-main-nav-link-height)) / 2;
	margin-bottom: (($sc-main-nav-height) - ($sc-main-nav-link-height)) / 2;
	margin-right: $sc-margin-lv3;
	float: left;

	@media(min-width: $screen-md-min) {
		display: none;
	}
}

.header-sidebar-toggle {
	background: none;
	width: $sc-target-size;
	height: $sc-target-size;
	text-align: center;
	margin-left: -$sc-margin-lv2;
}

.header-main-nav button i.header-sidebar-toggle-icon {
	@extend .fa;
	@extend %fa-bars;
	color: $sc-mobile-navigation-hamburger-icon-color;
	font-size: 26px;
	margin-top:2px;
}

///////////////////////////////////////////////////////////////
//main nav positioning

.header-menu-profile,
.header-menu-quote,
.header-menu-quickorder,
.header-menu-settings {
	float: left;
	display: none ;

	@media (min-width: $screen-md-min) {
		display: inline-block ;
	}
}
.header-menu-profile,
.header-menu-quote,
.header-menu-quickorder,
.header-menu-settings {
	float: left;
	display: none ;

	@media (min-width: $screen-md-min) {
		display: inline-block ;
	}
}
.header-menu-profile{
	.header-profile-menu-myaccount-container{
		display: none;
		position: absolute;
		top: 30px;
		left: 0;
		background: #505050;
		width: 100%;
		padding: 20px 0;
		text-align: center;
		border-top: none;
    border-bottom: 2px solid #000000;
		ul.header-menu-myaccount{
			@extend .container;
			margin: 0 auto;
			.header-menu-myaccount-overview{
				margin: 0;
				width: 100%;
			}
			.header-menu-myaccount-item-level2{
				text-align: left;
			}
		}
	}
	&.open{
		.header-profile-menu-myaccount-container{
			display: block;
		}

	}

}

.header-menu-storelocator {
    float: left;
}

.header-menu-settings {
	position: relative;
}

.header-menu-settings-dropdown-title {
	margin-bottom: $sc-margin-lv2;
}

.header-menu-cart {
	float: left;
	position: relative;

	@media (min-width: $screen-md-min) {
		margin-left: $sc-margin-lv4;
	}
	.sec_private_items_list & {
		visibility: hidden;
	}
}
.header-menu-search-icon,
.header-menu-searchmobile-icon {
	@extend .fa;
	@extend %fa-search;
}

.header-menu-searchmobile-icon{
	color: $sc-color-secondary;
	font-size: $sc-font-size-l;
	line-height: $sc-target-size;
	min-width: $sc-target-size;
}

.header-menu-searchmobile {
	float: left;

	@media (min-width: $screen-md-min) {
		display: none;
	}
}

%header-link {
	display: block;
	min-width: $sc-target-size;
	height: $sc-target-size;
	line-height: $sc-target-size;
	color: $sc-color-theme-700;
	text-align: center;
	position: relative;
}

%header-link:hover, %header-link:focus {
	color: $sc-color-copy;
}
%header-link:active {
	color: $sc-color-copy-dark;
}

.header-menu-settings-link,
.header-menu-cart-link,
.header-menu-searchmobile-link
{
	@extend %header-link;
}

.header-menu-searchmobile-link {
	overflow: hidden;
}

///////////////////////////////////////////////////////////////
//main nav styles

.header-menu-cart-link {
	overflow: hidden;
	color: $sc-color-primary;
}

.header-menu-cart-link-enabled{
	.header-menu-cart-icon{
		color: $sc-color-primary;
	}
}

.header-menu-cart-legend {
	padding: 0 $sc-padding-lv3 0 0;
	float:right;
	display: none;

	@media(min-width: $screen-md-min) {
		display: inline;
	}
}

.header-menu-cart-icon {
	@extend .fa;
	@extend %fa-shopping-cart;
	font-size: $sc-font-size-xxl;
	line-height: $sc-target-size;
	min-width: $sc-target-size;
	color: $sc-color-primary;
}

.header-menu-settings-icon {
	font-size: $sc-font-size-xl;
	@extend .fa;
	@extend %fa-globe;
}

.header-menu-settings-carret {
	margin-left: $sc-margin-lv1;
	@extend .fa;
	@extend %fa-angle-down;
}

///////////////////////////////////////////////////////////////
//secondary nav styles

.header-secondary-wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	left: - ($sc-sidebar-size);
	width: $sc-sidebar-size;
	background-color: #e8e8e8;
	z-index: 1000;

	@media (min-width: $screen-md-min) {
		position: relative;
		background-color: #e6e6e6;
		border-bottom:1px solid $sc-color-theme-border-light;
		top: auto;
		bottom: auto;
		left: auto;
		width: auto;
		height: $sc-secondary-menu-height;
	}
}


///////////////////////////////////////////////////////////////
//header settings

.header-menu-settings-dropdown {
	display: none;
	position: absolute;
	z-index: 1001;
	background: $sc-neutral-shade-0;
	padding: $sc-padding-lv6;
	left: -130px;
	box-shadow: 0 6px 12px transparentize($sc-neutral-shade-500, 1-0.175);
	border: 1px solid $sc-color-theme-border-light;
	width: 335px;

	&:before {
		position: absolute;
		top: -7px;
		right: 165px;
		display: inline-block;
		border-right: 7px solid transparent;
		border-bottom: 7px solid $sc-color-theme-border-light;
		border-left: 7px solid transparent;
		border-bottom-color: transparentize($sc-neutral-shade-500, 1-0.2);
		content: '';
	}

	&:after {
		position: absolute;
		top: -6px;
		right: 166px;
		display: inline-block;
		border-right: 6px solid transparent;
		border-bottom: 6px solid $sc-neutral-shade-0;
		border-left: 6px solid transparent;
		content: '';
	}
}

.open .header-menu-settings-dropdown {
	display: block;
}
.header-site-search {
	display: none;
	width: 100%;
	background: $sc-neutral-shade-0;
}
.header-menu-cart-dropdown{}
.header-sidebar-overlay{}

.header-subheader {
	background: $sc-top-menu-background-color;
	display: none;
	text-align: right;
	font-size: $sc-font-size-m;
	color: $sc-color-secondary;
	border-bottom: 1px solid $sc-top-menu-border-color;

	@media(min-width: $screen-sm-min) {
		display: block;
	}
}


.header-subheader-options {
	> li {
		display: inline-block;
	}

	li a {
		display: block;
		@media(max-width: 992px){
			&.requestquote-accesspoints-headerlink-link,
			&.quickorder-accesspoints-headerlink-link,
			&.header-profile-welcome-link,
			&.storelocator-accesspoints-headerlink-link{
				display: none;
			}
		}
	}
}

.header-subheader-settings-link {
	display:inline;
	color:$sc-color-secondary;
}

.header-subheader-settings {
	position:relative;
}

.header-menu-locator-mobile {
	display:block;
	@media(min-width: $screen-sm-min) {
		display: none;
	}
}

// TT NEW styles

// Welcome to our online store!
.weltome-top-header {
	background: $theme-header-bck-color-top;
	padding: 5px 0;
	p {
		font-family: $font-family-secondary;
		color: $theme-header-ft-color-primary;
		text-align: center;
		font-size: $theme-sm-font-size;
	}
	@media (max-width: $screen-sm-min) { display: none; }
}

#site-header {
	margin-bottom: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
  border-bottom: 1px solid #c5c5c5;
}




.header-menu-profile{float:none;}

.header-menu-locator-mobile {
	@media (max-width: $screen-sm-min) { display: inline; }
}



// Mini Cart Container
.header-right-menu {
	display: inline-block;
	margin: 0;
}

// Store Locator Mobile Icon
.storelocator-accesspoints-headerlink-link-icon { color: $theme-header-ft-color-primary; }

// Header Sidebar Toggle
.header-sidebar-toggle-wrapper {
	margin: 20px 0;
	@media (max-width: $screen-sm-min) {
		margin: 0;
		margin-top: 10px;
	 z-index: 900;
	 position: relative;
	 }
}
.header-sidebar-toggle {
	background: transparent;
	outline: none;
	margin: 0;
	@media (max-width: $screen-sm-min) { background: transparent; }
}
.header-sidebar-toggle-icon {
	margin: 0;
	color: $theme-header-ft-color-primary;
}



//CUSTOM HEADER
.header-top-bar{
	background: #333;
	.header-subheader-container {
		ul.header-subheader-options{
			display: block;
			float: right;
			padding: 0;
			> li {
				margin-left: 10px;
				a {
					@include sca-links;
					padding: 0 10px;
				}
				.header-profile-menu-login li{
					color: white;
				}
			}
		}
	}
}
nav.header-main-nav{
	.header-content{
		margin-top: 15px;
		margin-bottom: 15px;
		.header-logo-wrapper{
			a.header-logo{
				@extend .clearfix;
				margin: 0;
				display: inline-block;
				height: 55px;
				float: left;
				img{
					float: left;
					max-width: 100%;
					max-height: 100%;
					width: initial;
					width: auto;
				}
			}
		}
	}
	.header-right-menu{
		float: right;
		width: 400px;
    margin-top: 5px;
		@extend .clearfix;
		.search-container{
			float: left;
			.header-site-search{
				width: 346px;
				margin-right: 0;
				display: block !important;
				height: 44px !important;
				input.itemssearcher-input{
					padding: 0 15px;
					max-width: 100%;
			    border: 2px solid #d9d9d9 ;
					font-size: 14px;
					border-radius: 2px;
					transition: all 0.25s;
					&:hover{
 						border: 2px solid darken(#d9d9d9 , 12%);
					}
					&:focus{
 						border: 2px solid #333 ;
					}
					&::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
					    color: #818181;
					    opacity: 1; /* Firefox */
					}

					&:-ms-input-placeholder { /* Internet Explorer 10-11 */
					    color: #818181;
					}

					&::-ms-input-placeholder { /* Microsoft Edge */
					    color: #818181;
					}
				}
				button.site-search-button-submit{
					height: 32px;
			    padding: 0;
			    width: 32px;
			    background: none;
			    color: #333333;
			    border-left: 0;
			    border-radius: 50%;
			    font-size: 16px;
			    transition: all 0.25s;
			    top: 50%;
			    transform: translateY(-50%);
			    right: 10px;
					visibility: visible;
					&:hover{
						background: #e6e6e6;
					}
					&:focus{
						outline: none;
					}
				}
			}
		}
		.header-menu-cart{
			.header-menu-cart-dropdown{
				> div{
					&.open{
						a.header-mini-cart-menu-cart-link {
							i.header-mini-cart-menu-cart-icon{
								line-height: 40px;
								border: 1px solid #333333;
								color: #333333;
						    border: 2px solid #333333;
							}
						}
					}
				}
				a.header-mini-cart-menu-cart-link {
					position: relative;
					overflow: visible;
					background: none;
					i.header-mini-cart-menu-cart-icon{
						color: #333;
						background: none;
						margin-right: 0;
				    border-radius: 2px;
					}
					span.header-mini-cart-menu-cart-legend{
						font-family: "avenir", Helvetica, Arial, sans-serif;
				    font-size: 12px;
				    color: #fff;
				    background: #31da5b;
				    position: absolute;
				    top: 0;
				    left: 100%;
				    border-radius: 50%;
				    height: 26px;
				    width: 26px;
				    line-height: 28px;
				    display: block;
				    text-align: center;
				    padding: 0;
				    transform: translate(-70%, -30%);
					}
					&:hover{
						i.header-mini-cart-menu-cart-icon{
							line-height: 40px;
					    border: 2px solid #d9d9d9;
						}
					}
				}
			}
		}
	}
	@media(max-width:992px){
		.header-content{
			margin-bottom: 0;
			.header-logo-wrapper{
				margin-left: 20px;
			}
		}
	}
	@media(max-width:768px){
		.header-content{
			margin-top: 10px;
			.header-logo-wrapper{
				margin-left: 0;
				width: calc(100% - 88px);
				text-align: center;
				a.header-logo{
					height: 40px;
					float: none;
				}
			}
		}
		.header-right-menu{
			float: left;
			width: 100%;
			margin-bottom: 20px;
			.search-container{
		    width: calc(100% - 44px);
				.header-site-search{
					position: relative;
					top: 0;
					width:100%;
				}
			}
		}
	}
}
.header-secondary-wrapper{
	height: auto;
	nav.header-menu-secondary-nav{
		position: relative;
		ul.header-menu-level1{
			> li{
				a.header-menu-level1-anchor{
					padding: 0 25px;
					line-height: 52px;
					height: 52px;
					text-transform: capitalize;
					// color: #333;
					color: #6e6e6e;
					font-size: 16px;
					font-weight: 300;
					transition: all 0.25s;
				}
				&:hover{
					a.header-menu-level1-anchor{
						// background: #333;
						// color: $theme-primary-color;
						color: #333;
					}
				}
			}
		}
	}
}
