.footer-simplified-content{
    @extend .container;
    @extend .row;
    margin: auto;
}

.footer-simplified-content-nav {
    @extend .col-md-8;
    @extend .col-xs-12;
    padding-left: 0;
    padding-right: 0;
}

.footer-content-copyright {
  img{
    width: 80px;
    float: left;
  }
    @extend .col-md-4;
    @extend .col-xs-12;
    text-align:center;
    font-size: $sc-font-size-m;
    text-align: right;
line-height: 100px;
color: white;
    padding:0;
    text-align: right;
    width: 100%;

}
