.product-details-quickview {
	@extend .row;

	.product-details-image-gallery-container {
		height:380px;
	}

	.product-details-image-gallery-detailed-image {
		height:380px;
	}

}
.product-details-quickview-img {
	@extend .col-sm-5;
	margin-bottom: $sc-margin-lv3;

	@media (min-width: $screen-sm-min) {
		margin-bottom: 0;
	}

	.product-details-image-gallery-container {
		display: inline-block;
		height: 340px;
	}
}
.product-details-quickview-details {
	@extend .col-sm-7;

	.item-view-stock-msg {
		display: table;
	}
}
.product-details-quickview-full-details {
	margin: 5px 0 15px;
padding: 2px 10px;
margin-top: 10px;
font-size: 13px;
font-weight: 500;
margin-top: 20px;
display: inline-block;
border: 1px solid $theme-secondary-color;
line-height: 25px;
transition: all 0.2s;
	&:hover{
		border: 1px solid $theme-secondary-color;
		background: $theme-secondary-color;
		color: white;
	}
}

.product-details-quickview-actions {
	margin: 0;
}

.product-details-quickview-actions-container-add-to-cart {
	@extend .col-xs-12;
	@extend .col-sm-6;
}

.product-details-quickview-actions-container-add-to-wishlist,
.product-details-quickview-actions-container-add-to-quote {
	@extend .col-xs-12;
	@extend .col-sm-6;
}

.product-details-quickview-actions-container {
	@extend .row;
}

.product-details-quickview-main {
	.product-views-price-lead {
		@extend .large-price;
	}
	.product-views-price-old {
		font-size:$sc-font-size-m;
	}
	.isPrivate-copy {
		font-size: 16px;
		font-weight: 500;
		margin-top: 1.6rem;
		border: 2px solid #3cd52e;
		text-align: center;
		padding: 8px;
	}
}


h1.product-details-quickview-item-name{
	font-size: 18px;
}
.product-details-quickview-options{}
.product-details-quickview-main{}
.product-details-quickview-info{}
.product-details-quickview-banner-summary-bottom{}
.product-details-quickview-main-bottom-banner{}
.product-details-quickview-banner-details-bottom{}
