.TavanoTeam-smartMerch{
    .bx-pager{display:none;}
    .bx-controls-direction{
        a.home-gallery-prev-icon{left:0px;text-align:left;}
        a.home-gallery-next-icon{right:0px;text-align:right;}
    }
}