.additional-information-title {
	padding: 10px 0;
}

.additional-information-table {
	width: 100%;
}

.additional-info-table-data {
	border: 1px solid #dddddd;
	padding: 8px;
    line-height: 1.42857143;
	vertical-align: top;
	font-weight: 400;
	font-size: 15px;
}
.additional-information-module{
	margin-bottom: 4%;
}